header{
    background-color: black;
    height: 70px;
    position: fixed;
    width: 100%;
}
img{
    height: 70px;
}
.a1{
    display: inline-block;
    float: right;
    height: 50px;
    padding-top: 25px;
    padding-right: 19px;
}
a{
    text-decoration: none;
    color: white;
}
.a2{
    display: inline;
    padding: 5px;
    border: 2px solid white;
    color: white;
}
.a2:hover{
    background-color: brown;
}
.a3{
    display: inline;
    padding: 5px;
    border: 2px solid white;
    color: white;
}
.a3:hover{
    background-color: brown;
}

.a4{
    display: inline;
    padding: 5px;
    text-transform: uppercase;
    border: 2px solid white;
    color: white;
}
.a4:hover{
    background-color: brown;
}

/* FOOTER*/
.z{
    background-color: aqua;
    height: 30px;
    position: fixed;
    bottom: 0%;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}
/*image*/
.b img{
    height: 400px;
    padding-top: 72px;
    float: left;
    margin: opx;
}
.container{
    float: right;
    padding-top:10px;
    background-color:deeppink;
    margin: 10px;
    margin-top:100px;
   
}

.con{
    float: right;
    margin-left: 10px;
    padding-top: 10px;
    text-align: justify;
    background-color:lightgreen;
    margin: 10px;
}
.c1{
    height: 300px;
    weight: 400px;
    margin-top: 480px;
    margin-left: 0px;
    text-transform: uppercase;
    color: red;
    background-color: goldenrod;
    padding-left: 30px;
    padding-top: 0%;
    position: absolute;
}
.c3.h3{
    color: aqua;
    background-color: blue;
    
}
